<header>
  <nav class="">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="border-bottom: black solid 1px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" style="margin-top: -3px; margin-left: -15px;"><i class="fa fa-pencil-square" aria-hidden="true"></i> JOURNAL.S</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="hover">
            <a href="/journal" class="btn-1">
              <span class="glyphicon glyphicon-book"></span>
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              Home
            </a>
          </li>
          <li class="hover">
            <a href="/journal/new" class="btn-1">
              <span class="glyphicon glyphicon-book"></span>
              <svg id="newbutton">
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              NEW
            </a>
          </li>
        </ul>
        <%= form_tag(journal_path, :method => "get", id: "search-form", class: "navbar-form navbar-left", autocomplete: "off") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Journal", class: "form-control", autocomplete: "off" %>
          <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="hover"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
